@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<AiJiaXi.Domain.Entities.Logs.LoginLog>

@{
    ViewBag.Title = "登陆日志";
    ViewBag.Top = "登陆日志";
    ViewBag.Second = "登陆日志查看";
}

<div id="datatable">
    @Html.Partial("_LoginLogSearchResult", Model)
</div>
@section scripts
{
    @{Html.RegisterMvcPagerScriptResource();}
}
