@using Webdiyer.WebControls.Mvc
@model Webdiyer.WebControls.Mvc.PagedList<Project.Domain.Entities.BizPartner>

@{
    ViewBag.Title = "合作伙伴管理";
    ViewBag.Top = "合作伙伴管理";
    ViewBag.Second = "作伙伴列表";
}

<div id="datatable">
    @Html.Partial("_BizPartnerSearchResult", Model)
</div>
@section scripts
{
    @{Html.RegisterMvcPagerScriptResource();}

<script>
            $(function() {
                $('.user-editable').editable({
                    url:'@Url.Action("Post")',
                    showbuttons: true
                });
            })
</script>
}
